<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Household Services</title>
    <link rel="stylesheet" href="/static/main.css"> 
</head>
<body>


<nav class="navbar">
    <div class="navbar-left">
        <span>Welcome to Admin</span> 
    </div>
    <ul class="navbar-links">
        <li><a href="/admin/dashboard">Home</a></li>
        <li><a href="/admin/search">Search</a></li>
        <li><a href="/summary">Summary</a></li>
    </ul>
    <div class="navbar-right">
        <a href="/admin/login" class="btn btn-logout">Logout</a> 
    </div>
</nav>
<div class="my-container">
    <a href="/admin/createservice" class="btn-secondary">Add a new Service</a>
</div>

<h3>Current Services</h3>
<main class="my-container">
    {%if services%}
    <section id="service-history">
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Base Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for service in services%}
                <tr>
                    <td>{{service.id}}</td>
                    <td>{{service.name}}</td>
                    <td>$ {{service.price}} </td>
                    <td><a href="/admin/editservice/{{service.id}}" class="btn btn-primary">Edit</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<h3>Professionals</h3>
<main class="my-container">
    {%if professionals%}
    <section id="service-history">
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Experience(yrs)</th>
                    <th>Service Name</th>
                    <th>Docs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for prof in professionals%}
                <tr>
                    <td>{{prof.id}}</td>
                    <td>{{prof.name}}</td>
                    <td>{{prof.experience}}</td>
                    <td>{{prof.service_type}}</td>
                    <td>
                        <a href="{{ url_for('view_pdf', professional_id=prof.id) }}" target="_blank">
                        View PDF</a>
                    </td>
                    {%if prof.approved%}
                    <td><a href="/admin/rejaprov/{{prof.id}}" class="btn-secondary">Block</a></td>
                    {%else%}
                    <td>
                        <a href="/admin/profaprov/{{prof.id}}" class="btn btn-primary">&#10003;</a>
                        <a href="/admin/rejaprov/{{prof.id}}" class="btn-danger">&#10005;</a>
                    </td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<h3>Customers</h3>
<main class="my-container">
    {%if customers%}
    <section id="service-history">     
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Pin Code</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {%for customer in customers%}
                <tr>
                    <td>{{customer.id}}</td>
                    <td>{{customer.name}}</td>
                    <td>{{customer.address}}</td>
                    <td>{{customer.pincode}}</td>
                    <td><a href="/admin/deleteuser/{{customer.id}}" class="btn-secondary">Block</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<h3>Services Requests</h3>
<main class="my-container">
    {%if serv_reqs%}
    <section id="service-history">
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Assigned Professional</th>
                    <th>Req Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for req in serv_reqs%}
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{req.professional_name}}</td>
                    <td>{{req.date_of_request}}</td>
                    <td>{{req.service_status}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<footer>
    <p>&copy; 2024 A to Z Household Services. All rights reserved.</p>
</footer>

</body>
</html>
