<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Household Services</title>
    <link rel="stylesheet" href="/static/main.css"> 
</head>
<body>


<nav class="navbar">
    <div class="navbar-left">
        <span>Welcome to {{name}}</span> 
    </div>
    <ul class="navbar-links">
        <li><a href="/dashboard/{{id}}/{{name}}">Home</a></li>
        <li><a href="/search/{{id}}/{{name}}">Search</a></li>
        <li><a href="/customer/summary/{{id}}/{{name}}">Summary</a></li>
    </ul>
    <div class="navbar-right">
        <a href="/" class="btn btn-logout">Logout</a> 
    </div>
</nav>
<div class="my-container">
    <a href="/editprofile/{{id}}" class="btn-secondary">Edit/View Profile Details</a>
</div>
<div class="center">
    <h1>Looking For?</h1> 
</div>
<div class="my-container">

    <div class="card-container">
    {%if services%}
    {%for service in services%}
        <div class="card">
            <h3>{{service.name}}</h3>
            <p>{{service.description}}</p>
            <a href="/booking/{{name}}/{{id}}/{{service.id}}" class="btn btn-primary">Learn More</a>
        </div>  
    {%endfor%}       
    {%endif%}
    </div>
</div>

<h3>Accepted Service Requests</h3>
<main class="my-container">
    {%if reqs%}
    <section id="service-history">    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phone</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for req in reqs%}
                {%if req.service_status == 'assigned'%}
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{req.service.name}}</td>
                    <td>{{req.prof.name}}</td>
                    <td>{{req.prof.phone}}</td>
                    <td><a href="/closereq/{{id}}/{{name}}/{{req.id}}"class="btn btn-danger">{{req.service_status}}</td>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<h3>Edit Requests</h3>
<main class="my-container">
    {%if reqs%}
    <section id="service-history">    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for req in reqs%}
                {%if req.service_status == 'requested'%}
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{req.service.name}}</td>
                    <td>{{req.prof.name}}</td>
                    <td>{{req.prof.phone}}</td>
                    <form action="/editreq/{{id}}/{{req.id}}" method="POST">
                        <td>{{req.date_of_request}}<input type="datetime-local" name="date" id="date"></td>
                        <td><button type='submit' class="btn-edit" >Edit</button></td>
                    </form>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<h3>Service History</h3>
<main class="my-container" >
    {%if reqs%}
    <section id="service-history" >    
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Service Name</th>
                    <th>Professional Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {%for req in reqs%}
                {%if req.service_status == 'closed'%}
                <tr>
                    <td>{{req.id}}</td>
                    <td>{{req.service.name}}</td>
                    <td>{{req.prof.name}}</td>
                    <td>{{req.prof.phone}}</td>
                    <td>{{req.date_of_completion}}</td>
                    <form action="/addremark/{{id}}/{{name}}/{{req.id}}" method="POST">
                        <td>
                            <input type="number" name='remark' id='remark' value="{{req.remarks}}" style="background-color:greenyellow ;color: rgb(6, 7, 7);border-radius:1em;border: none;padding: 1rem;"/>
                            <button type="submit" class="btn-edit" style="padding: 5px;">&#10003;</button>
                        </td>
                    </form>
                </tr>
                {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </section>
    {%endif%}
</main>

<footer>
    <p>&copy; 2024 A to Z Household Services. All rights reserved.</p>
</footer>

</body>
</html>
