<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forms.css">
    <title>Signup</title>
</head>
<body>
    <div class="my-container">
        <div class="center">
            <h1>My Services</h1>
        </div>
        <div class="my-panel">
            <div class="center">
                <h3>Customer Signup</h3>
            </div>
            <form action="/cssignup" method="POST">
                <div class="input-form">
                    <div class="form-group">
                        <label for="user_name" class="form-label">User Name</label>
                        <input type="email" class="form-control" name="user_name" id="user_name" placeholder="John@abcmail.com">
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <label for="full_name" class="form-label">Full Name</label>
                        <input type="text" class="form-control" name="full_name" id="full_name" placeholder="John Doe">
                    </div>
                    <div class="form-group">
                        <label for="location" class="form-label">Address</label>
                        <textarea class="form-control" rows="4" cols="50" name="location" id="location" placeholder="Apt.No: 101,Block 2,Aparna Sarovar,Gachibowli,Hyderabad"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pin_code" class="form-label">Pin Code</label>
                        <input type="text" class="form-control" name="pin_code" id="pin_code" placeholder="500001">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <p>Existing user? <a href="/login">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 A to Z Household Services. All rights reserved.</p>
    </footer>
</body>
</html>
